body{
	background-image: url(enroll.png);
	background-size: cover;
	font-family: monospace;
}
.enroll{
	text-align: center;
	font-family: cursive;
	font-size:50px;
	text-decoration-line: underline;
	margin: 20px;
	width: 250vh;
}
.form{
	position: absolute;
	top: 30%;
	left: 50%;
	background: white;
	border-radius: 12px;
}
.form h1{
	text-align: center;
	padding: 0 0 20px 0;
	border-bottom:1px solid silver ;

}
.form center{
	padding: 0 40px;
	box-sizing: border-box;

}
center.txt{
	position: relative;
	border-bottom: 2px solid ;
	
}

